html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    overflow: hidden;
    transition: background-color 3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.default-bg {
    background-image: linear-gradient(to top, #163e87, #123b7f, #0f3977, #0d366f, #0c3367, #0b2f60, #092a58, #082651, #051f49, #031941, #02123a, #030732);
}

.green-bg {
    background-image: linear-gradient(to bottom, #59b442, #65b647, #71b94d, #7bbb53, #85bd59, #8fc05f, #99c466, #a2c76d, #aecc76, #bad280, #c6d78a, #d1dd94);
    /* background-image: linear-gradient(to top, #48641e, #5f761d, #79881b, #959a17, #b5ab12, #d4a020, #ec9538, #ff8a53, #fb7082, #d76cab, #9a74c1, #4c79bc); */
}

.pink-bg {
    background-image: linear-gradient(to bottom, #f4618b, #f77995, #f98fa1, #faa5ae, #fab9bd, #f7c1ca, #f3cad5, #efd2de, #e6d2e4, #dbd3e7, #d0d3e7, #c6d4e5);
    /* background-image: linear-gradient(to top, #74292d, #893a43, #9e4c5b, #b25f74, #c6738e, #d0819e, #da8fad, #e39dbd, #e6a9c6, #e8b4ce, #ebc0d6, #eecbde); */
}

.gold-bg {
    background-image: linear-gradient(to top, #d4dbe2, #cbdbe0, #c4dbda, #c4dacf, #cbd7c2, #cfd5b3, #d8d2a2, #e6cc94, #ecc97b, #f1c661, #f6c344, #fbbf1c);
    /* background-image: linear-gradient(to top, #1f0d08, #3b1a14, #5a2619, #79341c, #99441d, #a94d1d, #b8571c, #c8611a, #cd651c, #d2691f, #d76e21, #dc7223); */
}

.blue-bg {
    background-image: linear-gradient(to bottom, #a0bcd9, #9fc6d5, #aacdce, #bcd3cb, #ced7cd, #d1d5cb, #d2d3cb, #d3d1cb, #cbc8c1, #c2beb7, #bab5ae, #b2aca4);
    /* background-image: linear-gradient(to top, #040624, #070f2e, #061638, #071b43, #07204e, #0c295c, #10336a, #143d78, #1d4e8d, #265fa1, #2d71b7, #3584cc); */
}

a {
    color: #ffffff;
}

input, label {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99999;
}

input, audio, video {
    display: none;
}

.bg-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#info {
    position: absolute;
    width: 100%;
    color: #ffffff;
    padding: 5px;
    font-family: Monospace;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    z-index: 1;
}

#menu {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.container {
    position: absolute;
    top: 0px;
    left: 0px;
}

button {
    color: rgba(127, 255, 255, 0.75);
    background: transparent;
    outline: 1px solid rgba(127, 255, 255, 0.75);
    border: 0px;
    padding: 5px 10px;
    cursor: pointer;
    position: absolute;
}

button:hover {
    background-color: rgba(0, 255, 255, 0.5);
}

button:active {
    color: #000000;
    background-color: rgba(0, 255, 255, 0.75);
}

.color-material {
    opacity: 0;
}